# OS/IDE
.DS_Store
Thumbs.db
.idea/
.vscode/
*.log

# Archives
*.zip
*.tar
*.tar.gz
archives/

# Node
node_modules/
dist/
build/

# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/

# Env files
.env
.env.*

# Django
db.sqlite3
media/
staticfiles/

# Ignored PDFs
*.pdf
# Data and Temp
*.csv
*.xlsx
*.sql
temp/
tmp/
*.tmp
backend/fix_data_safe.py
