# Python
__pycache__/
*.py[cod]
*.egg-info/
*.log

# Envs
.env
.env.*
!.env.example
.venv/
venv/
!.env.docker.example

# Django
media/
staticfiles/
db.sqlite3

# OS/IDE
.DS_Store
.idea/
.vscode/

# Coverage
.coverage
htmlcov/

# Build / dist
build/
dist/

# Backups and temporary data
*.sql
*.sql.gz
*.csv

# Local tests and scripts (Only in DEV)
test_*.py
conftest*.py
Temporal/
*.py.backup
*.old
