# Python
__pycache__/
*.py[cod]
*.egg-info/
*.log

# Envs
.env
.env.*
.venv/
venv/
!.env.docker.example

# Django
media/
staticfiles/
db.sqlite3

# OS/IDE
.DS_Store
.idea/
.vscode/

# Coverage
.coverage
htmlcov/

# Build / dist
build/
dist/
